* {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #20002c;
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c); 
    background: linear-gradient(to right, #cbb4d4, #20002c);


}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.left, .right {
    width: 20%;
    height: 100%;
    border: 4px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.leftTitle, .rightTitle {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftContent, .rightContent {
    flex: 1;
    border: 4px solid purple;
}
.center {
    width: 60%;
    height: 100%;
    border: 4px solid black;
    box-sizing: border-box;
}

.player1 {
    width: 100%;
    height: 20%;
}

.playedPieces {
    border: 4px solid purple;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}

.player2 {
    width: 100%;
    height: 20%;
}